@model one2Do.WeatherModel.City

@{
    ViewData["Title"] = "City";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">Temperature: <span class="badge alert-primary"style="font-size: medium;">@Model.Temperature°F</span></p>
                    <p class="card-text">Humidity: <span class="badge alert-primary"style="font-size: medium;">@Model.Humidity</span></p>
                    <p class="card-text">Pressure: <span class="badge alert-primary"style="font-size: medium;">@Model.Pressure</span></p>
                    <p class="card-text">Wind Speed: <span class="badge alert-primary"style="font-size: medium;">@Model.Wind</span></p>
                    <p class="card-text">Weather: <span class="badge alert-primary"style="font-size: medium;">@Model.Weather</span></p>
                </div>
                <div class="col-md-6 mb-3">
                    <form method="get">
                        <button asp-controller="Weather" asp-action="SearchByCity" class="btn btn-danger">Another City</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <form method="get">
                <button asp-controller="User" asp-action="Index" class="btn btn-primary btn-lg btn-block">Back To Home</button>
            </form>
        </div>
    </div>
</div>

